global
    log /dev/log    local0
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

# Frontend: Intercepta las peticiones en el puerto 80 del contenedor
frontend http_in
    bind *:80
    default_backend app_servers

# Backend: Grupo de servidores web con algoritmo de Menor Tiempo de Respuesta
backend app_servers
    # Algoritmo Dinámico: Least Response Time
    balance leastresponse 
    
    # Servidores Backend (usando los nombres de servicio de docker-compose)
    # check inter 2000: chequeo de salud cada 2 segundos
    server web1 web1:80 check inter 2000
    server web2 web2:80 check inter 2000
    server web3 web3:80 check inter 2000